p,
h2 {
    margin: 0;
}

.body-card {}

.header {}

.header-container {}

.header-logo {}

.receiver-card {
    margin: 20px 0 140px;
}

.receiver {}

.receiver-container {}

.card-header {
    margin: 0 0 16px;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.2;
}

.card-description {
    text-align: center;
    font-size: 20px;
    margin: 0 0 50px;
}

.container-test {
    display: flex;
    justify-content: center;
}

.card-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;

    max-width: 580px;
    height: auto;
    gap: 20px;

}

.card-front {
    border-radius: 20px;
}

.gift-cards-image {}

.card-back {
    display: flex;
    height: 375px;
    padding: 32px 32px 153px 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    border-radius: 20px;
    background-color: #fff;
}

.card-back>h2 {
    color: #F44;
    font-size: 28px;
    font-weight: 700;
}

.card-back-title {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card-back-title p {
    display: flex;
}

.subtitle {
    width: 55px;
    margin-right: 16px;
    opacity: 0.3;
}

.card-back-message {
    font-size: 20px;
}